@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <img src="~/Images/LOGORM.png" alt="logo" align="middle"/>
</div>

<p>
    <h1>O mnie</h1>

    <p>Nazywam się Rafał Michalczewski i prowadzę serwis laptopów, notebooków oraz komputerów stacjonarnych. Specjalizuje się w oprogramowaniu Windows.</p>

    <p>– Składam nowe zestawy komputerowe, pomagam przy wyborze komponentów, zamawiam i dostarczam zakupione towary.</p>

    <p>– Naprawiam:</p>

    <img src="~/Images/3.png" alt="image" align="right"/>

    <p>– laptopy</p>

    <p>– komputery stacjonarne</p>

    <p>– tablety</p>

    <p>– telefony</p>

    <p>– routery</p>

    <p>– drukarki</p>

    <p>– Instaluje systemy operacyjne i oprogramowanie antywirusowe, konfiguruje programy, drukarki, routery i pozostałe urządzenia.</p>

    <p>Jeżeli masz problem z telefonem czy urządzeniem którego nie wymieniłem, ZADZWOŃ! A na pewno bede mógł pomóc.</p>

    <img src="~/Images/4.jpeg" alt="image" align="middle" />

    <p></p>
