@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    O mnie

    Nazywam się Rafał Michalczewski i prowadzę serwis laptopów, notebooków oraz komputerów stacjonarnych. Specjalizuje się w oprogramowaniu Windows.

    – Składam nowe zestawy komputerowe, pomagam przy wyborze komponentów, zamawiam i dostarczam zakupione towary.

    – Naprawiam:6

    – laptopy

    – komputery stacjonarne

    – tablety

    – telefony

    – routery

    – drukarki

    – Instaluje systemy operacyjne i oprogramowanie antywirusowe, konfiguruje programy, drukarki, routery i pozostałe urządzenia.

    Jeżeli masz problem z telefonem czy urządzeniem którego nie wymieniłem, ZADZWOŃ! A na pewno bede mógł pomóc.
</p>
