@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <img src="~/Images/LOGORM.png" alt="logo" align="middle" />
</div>

<h1>Kontakt</h1>

    <address>
        Rafał Michalczewski<br  />
        ul. Wigury 6<br />
        Ozorków, 95-035<br />
        <abbr title="Phone">kom(PLAY):</abbr>
        533-039-583
    </address>



<address>
    <strong>email:</strong>   <a href="mailto:rafaleki@wp.pl">RMCom email</a><br />
</address>

<img src="~/Images/5.png" alt="image" align="right"/>

<p></p>