@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <img src="~/Images/LOGORM.png" alt="logo" align="middle"/>
</div>

<div style="text-align:center">

    <img src="~/Images/1.png" alt="image" align="right" />

    <p>Nieoczekiwana awaria komputera?</p>

    <p>Atak wirusów?</p>

    <p>Zaginione ważnep liki?</p>

    <p>W każdym przypadku jestem wstanie pomóc!</p>

    <p>Naprawa, konserwacja, modernizacja zestawów komputerowych, oraz notebooków</p>

    <p>Naprawa komputerów PC – spalone, zalane</p>

    <p>Naprawa uszkodzonych płyt głównych, wymiana chipsetów</p>

    <p>Konserwacja układów chłodzenia laptopa i komputerów stacjonarnych</p>

    <p>Wymiana uszkodzonych gniazd: zasilania, audio, USB</p>

    <p>Naprawa matryc LCD w laptopach</p>

    <img src="~/Images/2.png" alt="image" align="left" />

    <p>Wyciszanie nadmiernie hałasujących komputerów</p>

    <p>Naprawa zawiasów</p>

    <p>Naprawa uszkodzonych klawiatur</p>

    <p>Wymiana pękniętych, uszkodzonych obudów</p>

    <p>Instalacja, konfiguracja systemówo peracyjnych i innego oprogramowania</p>

    <p>Kopie zapasowe danych</p>

    <p>Odzyskiwanie i archiwizacja danych</p>

    <p>Przeglądy techniczne komputerów(tak że u klienta)</p>

    <p>Instalacja podzespołów</p>

    <p>Konfiguracja sieci komputerowych oraz dostępu do Internetu</p>

    <p>Konfiguracja sieci bezprzewodowych</p>

    <p>POGOTOWIE KOMPUTEROWE U KLIENTA</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Naprawy</h2>
        <p>Zepsuł się komputer? Internet nie działa? Drukarka wzywa serwis? Zadzwoń!</p>
        <p><a class="btn btn-default" href="Home/Contact">Kliknij tu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Serwisy</h2>
        <p>Potrzebujesz serwisu w domu? Nie ma problemu dojeżdzam do Ciebie! Zadzwoń!</p>
        <p><a class="btn btn-default" href="Home/Contact">Kliknij tu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zakupy</h2>
        <p>Potrzebujesz nowego sprzętu, routera, czy innych rzeczy do domu? Dobrze trafiłeś! Zadzwoń!</p>
        <p><a class="btn btn-default" href="Home/Order">Kliknij tu &raquo;</a></p>
    </div>
</div>